@model DispositivoViewModel

@{
    ViewData["Title"] = "Cadastro Dispositivo";
}

<link rel="stylesheet" href="~/css/usuario.css">

<section class="home-section">

    @if (ViewBag.Operacao == "I")
    {
        <h1 class="text">Cadastrar Dispositivo</h1>

    }
    else
    {
        <h1 class="text">Editar Dispositivo</h1>
    }
    <form action="Save" method="post" enctype="multipart/form-data" class="form-container">
        <input type="hidden" value="@ViewBag.Operacao" name="operacao" />
        <br />
        <br />
        <div class="row">
            <div class="col-md-9">
                <div class="p-3 py-5">
                    @if (ViewBag.Operacao != "I")
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="IdDispositivoApi" value="@Model.IdDispositivoApi" />
                        <input type="hidden" name="DataCriacao" value="@Model.DataCriacao" />
                        <label style="color:lightblue">Criado em @Model.DataCriacao.ToShortDateString()</label>
                    }
                    <div class="form-group">
                        <label for="Nome" class="control-label">Nome do dispositivo <span class="mandatory"> *</span></label>
                        <input type="text" Name="Nome" value="@Model.Nome" class="form-control" style="width: 130%;" autocomplete="off" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="Descricao" class="control-label">Descrição <span class="mandatory"> *</span></label>
                        <input type="text" Name="Descricao" value="@Model.Descricao" class="form-control" style="width: 130%;" autocomplete="off" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group">
                        <br />
                        <input type="submit" class="btn" value="Criar Dispositivo" />
                        <a href="#" onclick="history.back()" class="btn" style="color: darkred;">Cancelar</a>

                    </div>
                </div>
            </div>
        </div>
    </form>

</section>

