@model List<UsuarioViewModel>

@{
    ViewData["Title"] = "Cadastro Usuário";
}

<link rel="stylesheet" href="~/css/usuario.css">
<script type="text/javascript" src="~/js/usuario.js"></script>

<section class="home-section">

    <h1 class="text">Listagem de Usuários</h1>
    <br />
    <br />
    <table class="table table-hover">
        <tr>
            <th style="text-align:center">FOTO</th>
            <th style="text-align:center">USUÁRIO</th>
            <th style="text-align:center">SENHA</th>
            <th style="text-align:center">PERFIL</th>
            <th style="text-align:center">EMPRESA</th>
            <th style="text-align:center">DISPOSITIVO</th>
            <th style="text-align:center">AÇÕES</th>
        </tr>
        @foreach (var usuario in Model)
        {
            <tr>
                <td style="text-align:center">
                    @if (string.IsNullOrEmpty(usuario.ImagemEmBase64))
                    {
                        <img id="imgPreview" src="~/img/Profile-Icon.png" class="img-responsive" width="50">
                    }
                    else
                    {
                        <img id="imgPreview" src="data:image/jpeg;base64,@usuario.ImagemEmBase64" class="img-responsive" width="50">
                    }
                </td>
                <td style="text-align:center">@usuario.Usuario</td>
                <td style="text-align:center">
                    <span class="password" data-password="@usuario.Senha">*****</span>
                    <i onclick="usuario.esconderSenha(this)" class="bx bx-show password-icon" style="cursor:pointer"></i>
                </td>

                <td style="text-align:center">@usuario.Perfil</td>
                <td style="text-align:center">@usuario.NomeEmpresa</td>
                <td style="text-align:center">@usuario.NomeDispositivo</td>
                @if (usuario.Id != ViewBag.IdUsuario)
                {
                    <td style="text-align:center">
                        <a href="/usuario/edit?id=@usuario.Id"> <span class="bx bxs-pencil icon-action"></span></a>
                        <a href="/usuario/edit?id=@usuario.Id&formType=form2"> <span class="bx bx-link icon-action"></span></a>
                        <a href="#" onclick="usuario.confirma(@usuario.Id)"> <span class="bx bxs-trash-alt icon-action"></span></a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
    <a href="/usuario/create" class="btn btn-register">Novo Registro</a>
</section>
<div class="delete">
    <dialog id="deleteModal" style="padding: 40px;">
        <div> <i class="bx bx-alarm-exclamation" style="font-size: 100px; margin-left: 32%;"> </i> </div>
        <div class="text" style="font-size: 25px !important;">Deseja realmente excluir?</div>
        <br />
        <div>
            <a class="btn" href="#" onclick="document.getElementById('deleteModal').close();" style="color: darkred; margin-left:7%;">Cancelar</a>
            <a class="btn confirm-delete" href="#">Confirmar</a>
        </div>
    </dialog>
</div>

